* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Montserrat SemiBold";

}

a {
  text-decoration: none;
}

a, button, img, input {
  display: block;
}

button, input {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  max-width: 150px;
  width: 100%;
  text-align: center;

  &__img {
    width: 150px;
    height: auto;
    margin: 0 auto;
  }
  &__name {
    margin: 10px auto;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: black;
  }
  &__button {
    margin: 10px auto;
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    background: red;
    color: white;
    text-transform: uppercase;
    transition: .3s background-color ease-in-out;
    &:hover {
      background: darken(red, 10%);
    }
  }
}

.form {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(#000000, .3);


  &-active {
    display: flex;
  }
  &__body {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: relative;
    background: #ffffff;
  }
  & .input {
    margin: 10px 0;
    border: 1px solid #cccccc;
    padding: 10px;
  }
  &__close {
    margin: 10px 0 40px;
    background: #ffffff;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
  }
  &__product {
    &_name {
      max-width: 180px;
      font-size: 10px;
      font-weight: 300;
      line-height: 20px;
      color: rgba(#000000, .4);
      text-align: left;
    }
  }
  &__productName {
    max-width: 180px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
  }
  &__submitBtn {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background: red;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    &:hover {
      background: darken(red, 10%);
    }
  }
  &__input {
    border-radius: 10px;
  }
  &__input._error {
    box-shadow: 0 0 15px red;
  }
  &__clearBtn {
    background: #cccccc;
    color: black;
    &:hover {
      background: darken(#cccccc, 10%);
    }
  }
}
