@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto Condensed";
  font-size: 100%;
}

a {
  text-decoration: none;
}

a, button, img, input {
  display: block;
}

button, input {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
  margin: 10px 0;
}

p, ul, ol {
  margin: 20px 0;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p, li {
  font-size: 16px;
  font-weight: 400;
}

.tasks {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.tasks__element {
  cursor: pointer;
  position: relative;
}
.tasks__element:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #000000;
}
.tasks__element:hover:after {
  width: 100%;
  animation: tasksUnderlineToMax 0.3s ease-in-out;
}
.tasks__element-active {
  color: #cccccc;
}
.tasks__element-active:after {
  width: 100%;
  background: #cccccc;
}

.ulWrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  max-width: 150px;
  width: 100%;
  text-align: center;
}
.product__img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.product__name {
  margin: 10px auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: black;
}
.product__button {
  margin: 10px auto;
  padding: 10px 20px;
  width: 100%;
  border-radius: 20px;
  background: red;
  color: white;
  text-transform: uppercase;
  transition: 0.3s background-color ease-in-out;
}
.product__button:hover {
  background: #cc0000;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}
.wrapper-active {
  display: flex;
}

.formWrapper {
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  background: #e5e5e5;
}

.form {
  position: relative;
}
.form__input {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  outline: none;
  color: black;
  font-size: 16px;
}
.form__input::placeholder {
  color: #cccccc;
}
.form__input:focus {
  border-color: #000000;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
.form__input_submitBtn {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.form__input_submitBtn:hover {
  background: #c9c9c9;
}
.form__input_submitBtn:focus {
  border-color: #cccccc;
  box-shadow: none;
}
.form:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5) url("./Ripple-1s-200px.gif") center/200px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity ease-in-out, 0.3s visibility ease-in-out;
}
.form._sending:after {
  opacity: 1;
  visibility: visible;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}
.closeBtn:hover {
  color: red;
}

.item_name {
  width: 100%;
  font-size: 16px;
  border: none;
  background: transparent;
  outline: none;
  cursor: default;
}

.form__input._error {
  border-color: red;
  box-shadow: 0 0 10px 1px rgba(255, 0, 0, 0.7);
  color: red;
}
.form__input._error::placeholder {
  color: red;
}

.secondTask {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
.secondTask__header {
  margin: 50px 0;
  text-align: center;
}
.secondTask__subHeader {
  margin: 0 0 30px 0;
}
.secondTask__imgWide {
  width: 100%;
}

.placeholderBlock {
  display: flex;
  background: #F6E049;
}
.placeholderBlock__img {
  height: 300px;
}
.placeholderBlock__text {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 60px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

.numberedList {
  margin-left: 20px;
}
.numberedList__element {
  list-style: auto;
}

.nonNumericList {
  margin-left: 20px;
}
.nonNumericList__element {
  list-style: disc;
}

.importantText {
  margin: 100px 0;
  font-weight: 400;
}

@media (max-width: 800px) {
  .secondTask {
    padding: 0 20px;
  }

  .ulWrapper {
    overflow-x: scroll;
  }
  .ulWrapper li:not(:last-child) {
    margin-right: 30px;
  }

  .placeholderBlock__img {
    height: 100px;
  }
  .placeholderBlock__text {
    font-size: 20px;
  }
}
@keyframes tasksUnderlineToMax {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
